<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
<%  %>
</p>

<p>
  <strong>Team:</strong>
  <% %>
</p>

<%= link_to 'Edit', edit_favorite_path %> |
<%= link_to 'Back', favorites_path %>
