<h1>Super Star Search</h1>
<p>Sign In or Sign Up to create your own Favorites list</p>
<div class="actions">
<p><%= link_to 'Sign Up', new_user_registration_path, class: "btn-submit" %></p>
<p><%= link_to 'Log In', new_user_session_path %></p>
</div>
